In [100]:
import pandas as pd
df=pd.read_csv('input.csv',header = None)
df

         0
0      151
1      150
2      148
3      147
4      154
...    ...
1995  1947
1996  1964
1997  1961
1998  1963
1999  1969

[2000 rows x 1 columns]

In [118]:
for index, number in enumerate (df_list):
    big_num = 0

In [102]:
df_list = list(df[0])

In [137]:
df_list=list(pd.read_csv('input.csv',header= None )[0])
big_numb=0
for index, number in enumerate (df_list):
    try:
        numb2 = df_list[index+1]
    except:
        pass
    big_numb += int(numb2 > number)

In [138]:
print(big_numb)

1139

#now part 2

In [140]:
df_list=list(pd.read_csv('input.csv',header= None )[0])
big_numb=0
for index, number in enumerate (df_list):
    try:
        number = df_list[index] + df_list[index+1] + df_list[index+2]
        numb2 = df_list[index+1] + df_list[index+2] + df_list[index+3]
    except:
        pass
    big_numb += int(numb2 > number)

In [141]:
print(big_numb)

1105